body {
	background-color:#222 !important;
}

svg{
	height:800px;
}


#containerCustom { 
	height:100%; width:100%;
	text-align:center;
	font-family:"helvetica neue"; 
	color:whitesmoke !important; 
	font-size:20px !important;
}

h1 { 
	font-size:60px;
	text-align: left; padding-left:50px; 
}
h2 { 
	opacity:.8 !important; text-align:left; padding-left:50px; font-size:20px; 
	padding-bottom:20px;
}

#description{
    display: block;
    font-size: 17px;
    padding-left: 160px !important;
    opacity: .7;
    /* padding-top: 80px; */
    text-align: left;
    padding-right: 650px;
    padding-bottom: 30px;

}

#linegraph {
	height:500px !important;
}

#button {
    /*border: 1px solid #00BCD4;*/
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top:30px;
    cursor:pointer;
    background-color:#2F343B;
    opacity:.8;
}

#button:hover {
    /*border: 1px solid #00BCD4;*/
    color: #2F343B;
    background-color:white;
    opacity:.8;
}

.selected {
    border: 1px solid black;
    color: #2F343B;
    background-color:white;
    opacity:.8;
}

svg.clock {
    stroke-linecap: round;
    /*border:1px solid black;*/
    display: block;
    text-align: center;
    width: 50%;
}

.clockNY{
	float:left;
	padding-top:100px;

}

.clockChi{
	float:right;
	padding-top:100px;
}

.face {
    /*stroke: #aac;*/
    stroke: whitesmoke;
    stroke-width: 6;
}

.hourtick.face {
}

.minutetick.face {
    stroke-width: 2;
}

.hand {
    stroke: #336;
    stroke-width: 8;
}

.hour.hand {
    stroke-width: 12;
}

.minute.hand {
}

.second.hand {
    stroke: red;
    stroke-width: 4;
}

.hour-label{
	font-size: 24px;
}

.axisWhite line{
  stroke: whitesmoke;
}

.axisWhite path{
  stroke: whitesmoke;
}

.axisWhite text{
  fill: whitesmoke;
} 